<!-- Lastly modified by Linzhi Hou in 2024/12/16 -->
<!-- It is not recommended to modify this code, unless you are a Pro-->

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"><!--<![endif]-->

<head>
  {% include head.html %}

  <script src="https://cdn.counter.dev/script.js" data-id="4c8f7caa-2b55-46cd-a995-2c4633303773"
    data-utcoffset="8"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T5N5JY1E21"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-T5N5JY1E21');
  </script>

</head>

<body class="articles" itemscope itemtype="http://schema.org/WebPage">

  {% include navigation.html %}

  <div class="image-wrap">
    <div class="headline-wrap">
      <h1>{{ page.title }}</h1>
      {% if page.tagline %}<h2 class="hidden-phone">{{ page.tagline }}</h2>{% endif %}
    </div><!--/ .headline-wrap -->
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image">
  </div><!-- /.image-wrap -->

  <div class="article-author-top">
    {% include author-bio.html %}
  </div>

  <div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">

    <div class="article-wrap">
      {{ content }}
    </div>

    {% assign root_posts = '' | split: '' %}
    {% for post in site.posts %}
    {% assign post_dir = post.path | split: '/' %}
    {% if post_dir.size <= 2 %} {% assign root_posts=root_posts | push: post %} {% endif %} {% endfor %} {% for post in
      root_posts %} {% assign post_dir=post.path | split: '/' %} {% if post_dir.size <=2 %} <!-- Only show posts
      directly under _posts directory -->
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

      {% if forloop.first or year != nyear %}
      <h2>{{ post.date | date: '%Y' }}</h2>
      <hr />
      {% endif %}

      <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <h4 itemprop="headline">
          <time datetime="{{ post.date | date: '%Y-%m-%d' }}" itemprop="datePublished">{{ post.date | date: "%B %d"
            }}</time> -
          <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
        </h4>
        <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html |
          strip_newlines | truncate: 120 }}{% endif %}</p>
      </article>
      {% endif %}
      {% endfor %}

      <hr />
      <h3>Thank you for visiting my blog space!</h3>
      <p>If you enjoy the content or find it helpful, consider leaving a star and supporting my work:</p>
      <ul>
        <li><a href="https://github.com/Zenith-Hlz/Zenith-Hlz.github.io">Leave a star if you like it</a></li>
      </ul>
  </div><!-- /#index -->

  <div class="footer-wrap">
    <footer>
      {% include footer.html %}
    </footer>
  </div><!-- /.footer-wrap -->

  {% include scripts.html %}

</body>

</html>